<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <style>
        .vj-destacados .card{
        height:100%;
        }

        .vj-destacados .card img{
        height:200px;
        object-fit:cover;
        }

        .vj-col .card-text{
            text-align:justify;

        }


    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img1/robot_2_FILL0_wght400_GRAD0_opsz24.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Tienda VG
        </a>
    </div>
</nav>

<div class="container mt-4 vj-destacados" >
    <div class="row">
        <div class="col-md-3 vj-col">
            <div class="card" style="width: 18rem;">
                <img src="https://sm.ign.com/ign_latam/screenshot/default/mw3-review-resena_smqy.jpg" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                    <h5 class="card-title">Call of duty</h5>
                    <p class="card-text mb-5 ">Call of Duty es una serie de videojuegos de disparos en primera persona, de estilo bélico, desarrollada principal e inicialmente por Infinity Ward, Treyarch, Sledgehammer Games y en menor proporción Raven Software y distribuida por Activision.</p>


                    <a href="#" class="btn btn-primary ">Ver detalles</a>


                </div>
            </div>
        </div>
        <div class="col-md-3 vj-col">
            <div class="card" style="width: 18rem;">
                <img src="https://pic.clubic.com/v1/images/2147200/raw?fit=max&width=1200&hash=e2e4961fbb7ea47109686cae36f218e20c4d2896" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                    <h5 class="card-title">FC24</h5>
                    <p class="card-text mb-5" >EA Sports FC 24​ es un videojuego de fútbol, desarrollado por EA, y publicado por EA Sports. Este juego marca la primera entrega de la serie EA Sports FC, ​ tras la conclusión de la asociación de EA con FIFA.</p>

                    <a href="#" class="btn btn-primary mt-5">Verdetalles</a>


                </div>
            </div>
        </div>
        <div class="col-md-3 vj-col">
            <div class="card" style="width: 18rem;">
                <img src="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                    <h5 class="card-title">Spiderman 2</h5>
                    <p class="card-text mb-5">Marvel's Spider-Man 2 es un videojuego de acción y aventuras desarrollado por Insomniac Games​​​ y publicado por Sony Interactive Entertainment.​​ Basado en el personaje de Marvel Comics</p>
                    <a href="#" class="btn btn-primary mt-5">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 vj-col">
            <div class="card" style="width: 18rem;">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000012332/ac4d1fc9824876ce756406f0525d50c57ded4b2a666f6dfe40a6ac5c3563fad9" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                    <h5 class="card-title">Super Smash Bros Ultimate</h5>
                    <p class="card-text mb-4">Super Smash Bros. Ultimate es un videojuego de lucha desarrollado por Sora Ltd. y Bandai Namco Entertainment y distribuido por Nintendo para la consola Nintendo Switch. Fue lanzado a nivel mundial el 7 de diciembre de 2018 y se trata del quinto título de la serie Super Smash Bros.</p>
                    <a href="#" class="btn btn-primary ">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>